@import url(sanitize.css);

table,
th,
td {
    border: 1px solid #333;
    padding: 3px;
}

tr {
    margin: 3px;
}

th:first-child,
td:first-child {
    color: red;
}

th:last-child,
td:last-child {
    color: blue;
}

.prevNextMonth {
    opacity: 0.5;
}

.today {
    background-color: rgba(255, 0, 0, 0.500);
}

.holiday {
    color:green;
}